{% extends 'base.html' %}

{% load static %}

{% block main %}
    <div class="project-detail">
        <h1>My Task</h1>
        <h2>{{ task.name }}</h2>
        <h3>{{ task.project.name }}</h3>
        <p>
            <a href="{% url 'update_task' task.id %}">Update task</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
            </tbody>
        </table>
        <h3>Notes</h3>
        <p>{{ task.notes }}</p>
    </div>
{% endblock main %}
