{% extends 'base.html' %}

{% load static %}

{% block main %}
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if tasks|length == 0 %}
            <p>You have no tasks</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        {% if task.is_completed %}
                            <tr class="completed">
                                <td><a href="{% url "show_my_task" task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.project.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><a href="{% url "show_my_task" task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.project.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock main %}
