{% extends 'base.html' %}

{% load static %}

{% block main %}
    <div class="task-form">
        <h1>Update task</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Update</button>
        </form>
    </div>
{% endblock main %}
