{% extends 'base.html' %}

{% load static %}

{% block main %}
    <div class="project-detail">
        <h1>{{ project.name }}</h1>
        <p>{{ project.description }}</p>
        <p><a href="{% url 'project_timeline' project.id %}">See Progress</a></p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if project.tasks.all|length != 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.tasks.all %}
                        {% if task.is_completed %}
                            <tr class="completed">
                                <td><a href="{% url "show_my_task" task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><a href="{% url "show_my_task" task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock main %}
