{% extends 'base.html' %}

{% load static %}

{% block main %}
    <div class="project-list">
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        <p>
            Search projects by company:
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Search</button>
        </form>
        {% if projects|length == 0 %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% if companyProjects %}
                    {% for project in companyProjects %}
                        <tr>
                            <td>
                                <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                    {% elif projects %}
                    {% for project in projects %}
                        <tr>
                            <td>
                                <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}

                    {% endif %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock main %}
