{% extends 'base.html' %}

{% load static %}

{% block main %}
    <div class="project-detail">
        <h1>{{ project.name }}</h1>
        <p>{{ project.description }}
            <div></div>
            {% if completedtasks.all|length == project.tasks.all|length %}
            <input class="timeline" type="range" value="100" min="0" max="100" step="1" oninput="this.nextElementSibling.nextElementSibling.value = this.value"></input>
            <div></div>Progress: <output>100</output>%
            {% else %}
            <input class="timeline" type="range" value="50" min="0" max="100" step="1" oninput="this.nextElementSibling.nextElementSibling.value = this.value"></input>
            <div></div>Progress: <output>50</output>%
            {% endif %}
        </p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if project.tasks.all|length != 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Progress</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.tasks.all %}
                        {% if task.is_completed %}
                            <tr class="completed">
                                <td><a href="{% url "show_my_task" task.id %}">{{ task.name }}</a></td>
                                <td>
                                    <input class="timeline" type="range" value="100" min="0" max="100" step="1" oninput="this.nextElementSibling.nextElementSibling.value = this.value"></input>
                                    <div></div>Progress: <output>100</output>%
                                </td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><a href="{% url "show_my_task" task.id %}">{{ task.name }}</a></td>
                                <td>
                                    <input class="timeline" type="range" value="0" min="0" max="100" step="1" oninput="this.nextElementSibling.nextElementSibling.value = this.value"></input>
                                    <div></div>Progress: <output>0</output>%
                                </td>
                                <td><a class="nounderline" href="{% url "update_task" task.id %}">{{ task.is_completed|yesno }}</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock main %}
